{% extends 'base.jinja' %}
{% block html_heads %} 
	<script src="https://cdn.tailwindcss.com"></script>
{% endblock %}
{% block title %} Main-Page {% endblock %}
{% block main %} This is main page {% endblock %}